
@{
    ViewBag.Title = "Index";
}

<!-- Header - set the background image for the header in the line below-->

<header class="py-5 bg-image-full" style="background-image: url('../../Media/servicio-limpieza.jpg')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="~/Media/casa.png" alt="..." />
        <h1 class="text-white fs-3 fw-bolder">Bienvenido a nuestra página</h1>
    </div>
</header>

<section id="scroll">
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/Media/servicio-limpieza.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Productos de limpieza</h2>
                    <p>Puedes echar un vistazo a nuestros productos que tenemos disponibles para tí.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container px-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <div class="p-5"><img class="img-fluid rounded-circle" src="~/Media/servicio.jpg" alt="..." /></div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Nuestro servicios</h2>
                    <p>Puedes revisar los comentarios del servicio que le hemos brindado a nuestros clientes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
